/* .container{
     border: 1px solid red; 
    width: 3010px;
    margin: auto;
} */
/* img{
    display: block;
    margin-auto;
} */
 /* ul>li>a{ */
    /* text-decoration: none;
    color: green;
    margin: auto;
    padding: 50px 50px; */

/* }
li{
     display: inline-block ;

}
ul{
    text-align: center;
} */

    
 /* .main{
    border: 10px solid red; 
    width: ;
    margin: auto; */
  
 
img{
    display: block;
    margin: auto;
     
}
h1{
    text-align: center;


}
p{
    
}

